<nav #navbar class="container-fluid">
  <ul class="links-mobile">
    <li>
      <a
        href="javascript:void(0);"
        class="hamburger secondary"
        (click)="toggleNav($event)"
      >
        <i class="fa fa-bars"></i>
      </a>
    </li>
    <li>
      <a routerLink="/" (click)="closeNav($event)">
        <strong>Tip Tap</strong>
      </a>
    </li>
  </ul>

  <ul class="links">
    <li>
      <a routerLink="/" (click)="closeNav($event)">
        <strong>Tip Tap</strong>
      </a>
    </li>
    <li><a routerLink="/lessons" (click)="closeNav($event)">Lessons</a></li>
  </ul>

  <ul class="links-auth">
    <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
      <li>
        <a
          href="javascript:void(0)"
          (click)="logout()"
        >
          Log out
        </a>
      </li>
      <ng-container *ngIf="auth.user$ | async as user">
        <li class="user-picture">
          <img [src]="user.picture" alt="User picture" height="32" width="32" />
        </li>
      </ng-container>
    </ng-container>

    <ng-template #loggedOut>
      <li>
        <a class="login" href="javascript:void(0)" (click)="auth.loginWithRedirect()">
          Log in
        </a>
      </li>
    </ng-template>
  </ul>
</nav>
