<nav #navbar class="container-fluid">
  <ul class="links-mobile">
    <li>
      <a
        href="javascript:void(0);"
        class="hamburger secondary"
        (click)="toggleNav($event)"
      >
        <i class="fa fa-bars"></i>
      </a>
    </li>
    <li>
      <a routerLink="/">
        <strong>Tip Tap</strong>
      </a>
    </li>
  </ul>

  <ul class="links">
    <li>
      <a routerLink="/">
        <strong>Tip Tap</strong>
      </a>
    </li>
    <li><a routerLink="/lessons">Lessons</a></li>
  </ul>

  <ul class="links-auth">
    <li><a href="">Log in</a></li>
    <li><a href="">Sign up</a></li>
  </ul>
</nav>
