.keys {
  display: grid;
  grid-template-columns: repeat(8, min-content);
  gap: 0.25rem;
  text-align: center;
}

kbd {
  background: #424242;
  color: #fff;
  border-radius: 4px;
  padding: 4px 6px;
  border: thin solid;
}
