<main>
  <section class="container">
    <button (click)="startTimer($event)">Start</button>
    <button (click)="startTimer($event)">Reset</button>
  </section>

  <section class="container">
    <span>Time remaining</span>
    <div *ngIf="timer$ | async as timer; else default">
      <p>{{ sessionDuration - timer }}</p>
    </div>
    <ng-template #default>
      <p>{{ sessionDuration }}</p>
    </ng-template>
    <p>{{ message }}</p>
  </section>

  <app-terminal></app-terminal>

  <router-outlet></router-outlet>
</main>
