aside {
  position: fixed;
  top: 64px;
  left: 0;
  bottom: 0;
  width: 200px;
  padding-left: 0.5rem;
  background: var(--background);
  z-index: 10;
  border-right: thin solid;
  border-color: var(--accordion-border-color);
}

nav {
  ul {
    a {
      color: var(--contrast);
    }

    ul {
      margin-left: 0.5rem;
      a {
        color: var(--color);
      }
    }
  }
}
