<aside>
  <nav>
    <ul>
      <li>
        <a href="/lessons#beginner">
          <strong>Beginner</strong>
        </a>
        <ul>
          <li><a href="/lessons#beginner_home_keys">Home keys</a></li>
          <li><a href="/lessons#beginner_left_hand">Left hand</a></li>
          <li><a href="/lessons#beginner_right_hand">Right hand</a></li>
        </ul>
      </li>
      <li>
        <a href="/lessons#intermediate">
          <strong>Intermediate</strong>
        </a>
        <ul>
          <li><a href="/lessons#intermediate_left_hand">Left hand</a></li>
          <li><a href="/lessons#intermediate_right_hand">Right hand</a></li>
          <li><a href="/lessons#intermediate_both_hands">Both hands</a></li>
        </ul>
      </li>
      <!-- <li>
        <a href="/lessons#advanced">
          <strong>Books</strong>
        </a>
        <ul>
          <li>
            <a href="/lessons#common_sense">
              Common Sense
            </a>
          </li>
        </ul>
      </li> -->
    </ul>
  </nav>
</aside>
