.centered {
  text-align: center;
}

h1 {
  border-bottom: thin solid;
  border-color: var(--accordion-border-color);
}

.container {
  max-width: 960px !important;
}

:root {
  --font-family: 'Open Sans', sans-serif !important;
}
