<mat-tab-group>
  <mat-tab label="Beginner">
    <div class="my-1" aria-labelledby="beginner">
      <section aria-labelledby="beginner_home_keys">
        <h2 id="beginner_home_keys">Home Keys</h2>
        <app-lesson-detail
          [lesson]="
            createLesson({
              level: 'beginner',
              hand: 'left',
              isHomeKeys: true
            })
          "
        >
        </app-lesson-detail>

        <app-lesson-detail
          [lesson]="
            createLesson({
              level: 'beginner',
              hand: 'right',
              isHomeKeys: true
            })
          "
        >
        </app-lesson-detail>

        <app-lesson-detail
          [lesson]="
            createLesson({
              level: 'beginner',
              hand: 'both',
              isHomeKeys: true
            })
          "
        >
        </app-lesson-detail>
      </section>

      <section aria-labelledby="beginner_left_hand" class="my-2">
        <h2 id="beginner_left_hand">Left Hand</h2>
        <app-lesson-detail
          [lesson]="
            createLesson({
              level: 'beginner',
              hand: 'left',
              finger: 'pinky'
            })
          "
        >
        </app-lesson-detail>

        <app-lesson-detail
          [lesson]="
            createLesson({
              level: 'beginner',
              hand: 'left',
              finger: 'ring'
            })
          "
        >
        </app-lesson-detail>

        <app-lesson-detail
          [lesson]="
            createLesson({
              level: 'beginner',
              hand: 'left',
              finger: 'middle'
            })
          "
        >
        </app-lesson-detail>

        <app-lesson-detail
          [lesson]="
            createLesson({
              level: 'beginner',
              hand: 'left',
              finger: 'pointy'
            })
          "
        >
        </app-lesson-detail>
      </section>

      <section aria-labelledby="beginner_right_hand" class="my-2">
        <h2 id="beginner_right_hand">Right Hand</h2>
        <div>
          <app-lesson-detail
            [lesson]="
              createLesson({
                level: 'beginner',
                hand: 'right',
                finger: 'pointy'
              })
            "
          >
          </app-lesson-detail>

          <app-lesson-detail
            [lesson]="
              createLesson({
                level: 'beginner',
                hand: 'right',
                finger: 'middle'
              })
            "
          >
          </app-lesson-detail>

          <app-lesson-detail
            [lesson]="
              createLesson({
                level: 'beginner',
                hand: 'right',
                finger: 'ring'
              })
            "
          >
          </app-lesson-detail>

          <app-lesson-detail
            [lesson]="
              createLesson({
                level: 'beginner',
                hand: 'right',
                finger: 'pinky'
              })
            "
          >
          </app-lesson-detail>
        </div>
      </section>
    </div>
  </mat-tab>

  <mat-tab label="Intermediate">
    <div class="my-1" aria-labelledby="intermediate">
      <section aria-labelledby="intermediate_left_hand">
        <h2 id="intermediate_left_hand">Left Hand</h2>
        <app-lesson-detail
          [lesson]="
            createLesson({
              level: 'intermediate',
              hand: 'left',
              finger: 'pinky'
            })
          "
        >
        </app-lesson-detail>

        <app-lesson-detail
          [lesson]="
            createLesson({
              level: 'intermediate',
              hand: 'left',
              finger: 'ring'
            })
          "
        >
        </app-lesson-detail>

        <app-lesson-detail
          [lesson]="
            createLesson({
              level: 'intermediate',
              hand: 'left',
              finger: 'middle'
            })
          "
        >
        </app-lesson-detail>

        <app-lesson-detail
          [lesson]="
            createLesson({
              level: 'intermediate',
              hand: 'left',
              finger: 'pointy'
            })
          "
        >
        </app-lesson-detail>
      </section>

      <section aria-labelledby="intermediate_right_hand" class="my-2">
        <h2 id="intermediate_right_hand">Right Hand</h2>
        <app-lesson-detail
          [lesson]="
            createLesson({
              level: 'intermediate',
              hand: 'right',
              finger: 'pointy'
            })
          "
        >
        </app-lesson-detail>

        <app-lesson-detail
          [lesson]="
            createLesson({
              level: 'intermediate',
              hand: 'right',
              finger: 'middle'
            })
          "
        >
        </app-lesson-detail>

        <app-lesson-detail
          [lesson]="
            createLesson({
              level: 'intermediate',
              hand: 'right',
              finger: 'ring'
            })
          "
        >
        </app-lesson-detail>

        <app-lesson-detail
          [lesson]="
            createLesson({
              level: 'intermediate',
              hand: 'right',
              finger: 'pinky'
            })
          "
        >
        </app-lesson-detail>
      </section>

      <section aria-labelledby="intermediate_both_hands" class="my-2">
        <h2 id="intermediate_both_hands">Both Hands</h2>
        <app-lesson-detail
          [lesson]="createLesson({ level: 'intermediate', hand: 'both' })"
        >
        </app-lesson-detail>
      </section>
    </div>
  </mat-tab>

  <mat-tab label="Pro">
    <section label="Books">
      <div class="my-1" aria-labelledby="books">
        <h2 id="books">Books</h2>
        <p>
          All texts were acquired from
          <a href="https://en.wikisource.org/wiki/Main_Page"> Wikisource </a>.
        </p>
        <p>
          All texts and are in the
          <a
            href="https://en.wikipedia.org/wiki/Public_domain"
            title="wiki:Public domain"
          >
            public domain
          </a>
          and available under the
          <a href="https://creativecommons.org/licenses/by-sa/3.0/">
            Creative Commons Attribution-ShareAlike License </a
          >.
        </p>

        <mat-divider></mat-divider>

        <section aria-labelledby="common_sense">
          <h2 id="common_sense">Common Sense by Thomas Paine</h2>
          <ul>
            <li>
              <a href="/session/book/common-sense/chapter/1">
                Chapter 1 - Of the Origin and Design of Government
              </a>
            </li>
          </ul>
        </section>
      </div>
    </section>
  </mat-tab>
</mat-tab-group>
