.sidenav {
  display: none;
}

.lessons-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 576px) {
  .content {
    margin-left: 200px;
  }

  .sidenav {
    display: block;
  }
}
