<div class="sidenav">
  <app-sidenav></app-sidenav>
</div>

<div class="container content">
  <section>
    <section label="Beginner">
      <section class="my-1" aria-labelledby="beginner">
        <h1 id="beginner">Beginner</h1>
        <div>
          <section aria-labelledby="beginner_home_keys">
            <h3 id="beginner_home_keys">Home Keys</h3>
            <div>
              <app-lesson-detail
                [lesson]="
                  createLesson({
                    level: 'beginner',
                    hand: 'left',
                    isHomeKeys: true
                  })
                "
              >
              </app-lesson-detail>

              <app-lesson-detail
                [lesson]="
                  createLesson({
                    level: 'beginner',
                    hand: 'right',
                    isHomeKeys: true
                  })
                "
              >
              </app-lesson-detail>

              <app-lesson-detail
                [lesson]="
                  createLesson({
                    level: 'beginner',
                    hand: 'both',
                    isHomeKeys: true
                  })
                "
              >
              </app-lesson-detail>
            </div>
          </section>

          <section aria-labelledby="beginner_left_hand">
            <h3 id="beginner_left_hand">Left Hand</h3>
            <div>
              <app-lesson-detail
                [lesson]="
                  createLesson({
                    level: 'beginner',
                    hand: 'left',
                    finger: 'pinky'
                  })
                "
              >
              </app-lesson-detail>

              <app-lesson-detail
                [lesson]="
                  createLesson({
                    level: 'beginner',
                    hand: 'left',
                    finger: 'ring'
                  })
                "
              >
              </app-lesson-detail>

              <app-lesson-detail
                [lesson]="
                  createLesson({
                    level: 'beginner',
                    hand: 'left',
                    finger: 'middle'
                  })
                "
              >
              </app-lesson-detail>

              <app-lesson-detail
                [lesson]="
                  createLesson({
                    level: 'beginner',
                    hand: 'left',
                    finger: 'pointy'
                  })
                "
              >
              </app-lesson-detail>
            </div>
          </section>

          <section aria-labelledby="beginner_right_hand">
            <h3 id="beginner_right_hand">Right Hand</h3>
            <div>
              <app-lesson-detail
                [lesson]="
                  createLesson({
                    level: 'beginner',
                    hand: 'right',
                    finger: 'pointy'
                  })
                "
              >
              </app-lesson-detail>

              <app-lesson-detail
                [lesson]="
                  createLesson({
                    level: 'beginner',
                    hand: 'right',
                    finger: 'middle'
                  })
                "
              >
              </app-lesson-detail>

              <app-lesson-detail
                [lesson]="
                  createLesson({
                    level: 'beginner',
                    hand: 'right',
                    finger: 'ring'
                  })
                "
              >
              </app-lesson-detail>

              <app-lesson-detail
                [lesson]="
                  createLesson({
                    level: 'beginner',
                    hand: 'right',
                    finger: 'pinky'
                  })
                "
              >
              </app-lesson-detail>
            </div>
          </section>
        </div>
      </section>
    </section>

    <section label="Intermediate">
      <section class="my-1" aria-labelledby="intermediate">
        <h1 id="intermediate">Intermediate</h1>
        <div>
          <section aria-labelledby="intermediate_left_hand">
            <h3 id="intermediate_left_hand">Left Hand</h3>
            <div>
              <app-lesson-detail
                [lesson]="
                  createLesson({
                    level: 'intermediate',
                    hand: 'left',
                    finger: 'pinky'
                  })
                "
              >
              </app-lesson-detail>

              <app-lesson-detail
                [lesson]="
                  createLesson({
                    level: 'intermediate',
                    hand: 'left',
                    finger: 'ring'
                  })
                "
              >
              </app-lesson-detail>

              <app-lesson-detail
                [lesson]="
                  createLesson({
                    level: 'intermediate',
                    hand: 'left',
                    finger: 'middle'
                  })
                "
              >
              </app-lesson-detail>

              <app-lesson-detail
                [lesson]="
                  createLesson({
                    level: 'intermediate',
                    hand: 'left',
                    finger: 'pointy'
                  })
                "
              >
              </app-lesson-detail>
            </div>
          </section>

          <section aria-labelledby="intermediate_right_hand">
            <h3 id="intermediate_right_hand">Right Hand</h3>
            <div>
              <app-lesson-detail
                [lesson]="
                  createLesson({
                    level: 'intermediate',
                    hand: 'right',
                    finger: 'pointy'
                  })
                "
              >
              </app-lesson-detail>

              <app-lesson-detail
                [lesson]="
                  createLesson({
                    level: 'intermediate',
                    hand: 'right',
                    finger: 'middle'
                  })
                "
              >
              </app-lesson-detail>

              <app-lesson-detail
                [lesson]="
                  createLesson({
                    level: 'intermediate',
                    hand: 'right',
                    finger: 'ring'
                  })
                "
              >
              </app-lesson-detail>

              <app-lesson-detail
                [lesson]="
                  createLesson({
                    level: 'intermediate',
                    hand: 'right',
                    finger: 'pinky'
                  })
                "
              >
              </app-lesson-detail>
            </div>
          </section>

          <section aria-labelledby="intermediate_both_hands">
            <h3 id="intermediate_both_hands">Both Hands</h3>
            <div>
              <app-lesson-detail
                [lesson]="createLesson({ level: 'intermediate', hand: 'both' })"
              >
              </app-lesson-detail>
            </div>
          </section>
        </div>
      </section>
    </section>

    <section label="Books">
      <section class="my-1" aria-labelledby="books">
        <h1 id="books">Books</h1>
        <p>
          All texts were acquired from
          <a href="https://en.wikisource.org/wiki/Main_Page"> Wikisource </a>.
        </p>
        <p>
          All texts and are in the
          <a
            href="https://en.wikipedia.org/wiki/Public_domain"
            title="wiki:Public domain"
          >
            public domain
          </a>
          and available under the
          <a href="https://creativecommons.org/licenses/by-sa/3.0/">
            Creative Commons Attribution-ShareAlike License </a
          >.
        </p>
        <hr />
        <section aria-labelledby="common_sense">
          <h3 id="common_sense">Common Sense by Thomas Paine</h3>
          <ul>
            <li>
              <a href="/session/book/common-sense/chapter/1">
                Chapter 1 - Of the Origin and Design of Government
              </a>
            </li>
          </ul>
        </section>
      </section>
    </section>
  </section>
</div>
